<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
        button{
            padding: .5rem 1rem;
            background-color: rgb(86, 255, 71);
            border: none;
        }
        a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>

<body>
    <header>
        <img src="cid:logo@erticle" width="100px">
    </header>
    
    <h2>Change Password Request</h2>
    <p>your erticle's account have requested to change password.</p>
    <p>if this wasn't you, please ignore it.</p>
    <br>
    <p>if this was you, please click the button below to change password</p>
    <button>
        <a href="[link]">change password here</a>
    </button>
    
    
</body>
</html>